
<section class="testimonials">
    <div class="container">
        <h2>Why Kids Love Us</h2>
        <div class="testimonial-slider">
            <div class="testimonial-card">
                <img src="../../../../assets/images/avatar.avif" alt="Kid Avatar" class="testimonial-avatar" />
                <p>"This is the best place to learn and play! I love the games!"</p>
                <span class="testimonial-name">- Alex, 8 years old</span>
            </div>
            <div class="testimonial-card">
                <img src="../../../../assets/images/avatar.avif" alt="Kid Avatar" class="testimonial-avatar" />
                <p>"The quizzes are so much fun and I always learn something new!"</p>
                <span class="testimonial-name">- Sarah, 10 years old</span>
            </div>
            <div class="testimonial-card">
                <img src="../../../../assets/images/avatar.avif" alt="Kid Avatar" class="testimonial-avatar" />
                <p>"I love the art classes! They're so colorful and exciting!"</p>
                <span class="testimonial-name">- Mia, 7 years old</span>
            </div>
            <div class="testimonial-card">
                <img src="../../../../assets/images/avatar.avif" alt="Kid Avatar" class="testimonial-avatar" />
                <p>"I love the art classes! They're so colorful and exciting!"</p>
                <span class="testimonial-name">- Mia, 7 years old</span>
            </div>
        </div>
    </div>
</section>