@import '../../../styles.scss';
.blogs {
    padding: 60px 0;
  }
  
  .blog-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .blog-card img {
    transition: transform 0.3s ease;
  }
  
  .blog-card:hover img {
    transform: scale(1.1);
  }
  
  .blog-title {
    font-family: 'Comic Sans MS', cursive;
    font-size: 1.25rem;
    color:  $primary-color;
  }
  
  .blog-excerpt {
    color: #333;
  }
  
  .btn-primary {
    background-color: #ff6f61;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #ff4b4b;
  }
  