<section id="hero">
    <app-hero></app-hero>
  </section>

  <section>
    <app-why-choose-alfath></app-why-choose-alfath>
  </section>
  
  
  <section id="video-section">
    <app-video-section></app-video-section>
  </section>
  
  <section id="courses-section">
    <app-courses-section></app-courses-section>
  </section>
  
  <section id="adventures">
    <app-adventures></app-adventures>
  </section>
  
  <section id="sessions-section">
    <app-sessions-section></app-sessions-section>
  </section>
  <section id="features-section">
    <app-features-section></app-features-section>
  </section>
  
  <section id="testimonial-video-section">
    <app-testimonial-video-section></app-testimonial-video-section>
  </section>
  

  <section >
    <app-certificate></app-certificate>
  </section>
  
<!--   
  <section id="team-section">
    <app-team-section></app-team-section>
  </section> -->
  
  <section id="blog-section">
    <app-blog-section></app-blog-section>
  </section>
  
  <section id="testimonial-section">
    <app-testimonial-section></app-testimonial-section>
  </section>
  
  <section id="common-questions-section">
    <app-common-questions-section></app-common-questions-section>
  </section>
  
  <section id="contact-modal">
    <app-contact-modal></app-contact-modal>
  </section>
  