
<app-hero></app-hero>
<app-video-section></app-video-section>
<app-courses-section></app-courses-section>
<app-adventures></app-adventures>
<app-testimonial-video-section></app-testimonial-video-section>
<app-features-section></app-features-section>

<app-team-section></app-team-section>

<!-- -----------------------Book Nook ------------------------ -->

<app-sessions-section></app-sessions-section>
<app-blog-section></app-blog-section>

<app-common-questions-section></app-common-questions-section>
<app-contact-modal></app-contact-modal>
