<div class="quiz-container">
    <h2>Quiz</h2>
    
    <!-- <div *ngIf="currentQuestionIndex < questions.length; else quizCompleted"> -->
      <!-- Display current question -->
      <!-- <h4>{{ questions[currentQuestionIndex].question }}</h4> -->
      
      <!-- Display answers -->
      <!-- <ul class="list-group">
        <li 
          *ngFor="let answer of questions[currentQuestionIndex].answers"
          class="list-group-item"
          [class.active]="answer === selectedAnswer"
          (click)="selectAnswer(answer)">
          {{ answer }}
        </li>
      </ul> -->
  
      <!-- Timer -->
      <!-- <p>Time left: {{ timeLeft }} seconds</p> -->
  
      <!-- Next Question Button -->
      <!-- <button class="btn btn-primary mt-3" (click)="nextQuestion()" [disabled]="!selectedAnswer">
        Next Question
      </button>
    </div>
   -->
    <!-- Template when quiz is completed -->
    <!-- <ng-template #quizCompleted>
      <h3>Quiz completed! Your result is {{ result }}/{{ questions.length }}</h3>
      <button class="btn btn-success" (click)="endQuiz()">Submit Result</button>
    </ng-template>
  </div> -->