<footer class="awesome-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>Al-Fath Institute for Islamic Sciences: Where knowledge and faith converge, and light emanates from the hearts of students. We strive to prepare capable generations who can carry the banner of knowledge</p>
    </div>
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/admin-log">Dashbourd</a></li>
        <li><a routerLink="/arabic-course">Arabic Course</a></li>
        <li><a routerLink="/quran-course">Quran Course</a></li>
        <li><a routerLink="/islamic-course">Islamic Course</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact Us</h3>
      <ul>
        <li>Address: Egypt, Cairo, Badr City</li>
        <li>Service during 24hr</li>
        <li>Phone: +20 114 304 8665</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/Alfath.institute.eg?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.youtube.com/@alfathinstitute1833"><i class="fab fa-youtube"></i></a>

      </div>
    </div>
  </div>
</footer>
<div class="floating"></div>
